version: "3.9"

services:
  traefik:
    image: traefik:v3.5
    depends_on:
      - tailscale
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unlsess-stopped
    network_mode: service:tailscale

